body {
    background: linear-gradient(to right, #11C76F, #E4E4E4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 90vh;
    /* Ocupa toda a altura da tela */
    position: relative;

    & .titulo {
        color: #333333;
        text-align: center;
    }

    & .buttoncontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        position: relative;

        & .buttonstart {
            background-image: none;
            border: none;
            color: #11C76F;
            background-color: #FFFF;
            font-weight: bold;
            border-radius: 25px;
            cursor: pointer;
            font-size: 2.5rem;
            padding: 1em 2em;
            transition: all 0.3s ease;
        }

        & .buttonstart:hover {
            border: 3px solid #FFFF;
            background-color: #11C76F;
            border-color: #FFFF;
            color: #FFFF;
        }
    }

    /* Responsividade */
    @media (max-width: 758px) {
        .button-start {
            font-size: 2rem;
            padding: 0.8em 1.5em;
        }
    }

    @media (max-width: 480px) {
        .button-start {
            font-size: 1.5rem;
            padding: 0.5em 1em;
        }

        .button-container {
            height: auto;
            padding: 1em;
        }
    }
}

/* Button */
button {
    padding: clamp(8px, 2vw, 15px) clamp(10px, 2vw, 20px);
    border: none;
    cursor: pointer;
    font-size: 3vh;
    background-color: #11C76F;
    border-radius: 5px;
    color: #FFFF;
    transition: all 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #D0D0D0;
    color: #238662;
}